* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  background: linear-gradient(to top, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  position: sticky;
  top: 0;
  padding: 10px 0;
  z-index: 10;
  margin-bottom: 10px;
}

.responsesContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
  max-height: calc(100vh - 250px);
  border: 2px solid #ff9a9e;
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8a4fff;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #7040cc;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}

.response {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.responseInput {
  font-weight: bold;
}

.responseText {
  margin-top: 5px;
}

.error {
  color: #ff0000;
  margin-bottom: 10px;
}

.bearerTokenInput {
  margin-bottom: 20px;
}

.responseButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.responseButton {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.responseButton:hover {
  background-color: #e0e0e0;
}
